IRIN Requirements



Design a new IRIN Logo and a new layout for the IRIN website.

Create Login and Logout Pages

People should be able to login with their username and password.

Upon first login, the user should be forced to create a new password.

People should be able to logout.

When a user clicks the logout button, a prompt should come up to confirm that they want to logout.

Create a “Documents” page

People with a security clearance of Delta Red or above can add documents.

People associated with the right security clearance can edit the document.

Delta Red Security Clearance

Only the person who created the document, people assigned to the document, the Imperial Throne, and Administrators can edit the document.

Only the Imperial Throne and Admins should be allowed to delete documents.

Create a “Users” page

Administrators can create new users with the following information:

Username (usually their character’s first name)

Email

Character Name

Rank

Division

Security Clearance

Note: After a new user is created, an email containing a randomly generated password should be sent to the supplied email address.

Admins should be able to edit and delete user information

Only if the user has a lower admin level than them.

Note: Admin levels will be stored in the Security Clearance column. The value ranges from 7 to 12.

Admins should be able to switch to a user’s account

Only if the user has a lower admin level than them.

There should be a button at the top to switch back to their account

Create a “Divisions” page

The Throne and Admins can create divisions and units

Any new division will be a subset of one of the branches (list will be given at a later date)

Any new unit will be a subset of a division

The appropriate people should be able to edit branches, divisions, and units

Branch command can edit all divisions and units associated with their branch.

Division command can edit all units associated with their branch.

The Throne and Admins can edit all units, regardless of branch. 

The Throne and Admins can delete any branch, division, or unit.

Create a “Rank” page

The Throne and Admins can create, modify, and delete ranks

Only the Supreme Ruler and Admins should be able to make changes to Throne ranks.

Create a “Merits” page

The appropriate people should be able to modify their subordinates’ merits.

Branch command can modify the merits for everyone in a division or unit associated with their branch.

Division command can modify the merits for everyone in a unit associated with their division.

Unit command can modify the merits of everyone in their own unit, excluding themselves, and, if the user is the unit’s 2IC, the unit leader

The Throne and Admins can edit everyone’s merit, regardless of branch

Note: The Throne and Admins should not appear on this page.

Create a “Security Clearance” page

The appropriate people should be able to modify their subordinate’s security clearance

Follows the same rules as the “Merits” page

Note: The Supreme Ruler and Admins should not appear on this page.

Create a “Year” page

Admins should be able to add new IR years

SMART (Moderating) Staff Members, Assistant Admins, and the Lead Admin should be able to set the current IR year from the list of past year entries.

Create a “Dev Work Log” page

OCOPS Staff Members, Assistant Admins, and the Lead Admin should be able to view the IRIN Development Work Log

Shows each requirement/PCR, who it’s assigned to, it’s current status, and the date it was finished (only when done)

Status should be color coded

Red – Assigned

Yellow – In Progress

Green – Completed

The OCOPS Assistant Admin, the Senior Admin, and the Lead Admin should be able to add and delete requirements/PCRs and assign it to an OCOPS Staff Member.

Create a “Code Generator” page

CAT (Character) Staff Members, the CAT Assistant Admin, the Senior Assistant Admin, and the Lead Admin should be able to generate a character code to use for character approvals.

Should follow this format: MMDDYYFFSS(S)

MM – Month

DD – Day

YYYY – Year

FF – First two letters of username

SS(S) – First three letter of the abbreviation of the user’s rank (Third letter only applies to ranks with three letter abbreviations)

Turn Google Documents into PHP Forms and Views

IRIN currently uses 5 Google Documents.

2 for displaying stored data

3 for forms

Convert these documents into PHP forms and views

Make or leave current simple process for adding new pages and their access level, or design a better way to accomplish this.